img {
    height: 80px;
    width: 80px;
}
.card {
    background-color: white;
    border-radius: 15px;
    padding: 0px 0px 20px 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
}
.profile {
    font-size: 9px;
    display: flex;
    align-items: center
}
p {
    padding: 2px 12px;
    margin: 0;
    font-weight: bold;
}
p span {
    font-weight: 500;
}
button {
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 8px;
    padding: 2px 15px;
    margin-top: 10px;
    margin-right: 5px;
}
